<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Offline-first: no INTERNET permission (see docs/PROJECT.md). -->

    <application
        android:name=".PhonIQApp"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_phoniq_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_phoniq_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhonIQ">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.PhonIQ">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
